# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store
.turbo
.next
dist
*.tsbuildinfo
.DS_Store
.hermes/

# Python
.venv
__pycache__/
*.py[cod]
*.egg-info/
.ruff_cache

# Env
.env
.env.local
**/.env.local
**/.env.*.local

# DB
postgres-data
redis-data

# Logs
logs
